@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Importar excel a sql</h1>
    <br />
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <input type="file" name="file" /><br />
        <input type="submit" value="Importar a BD" class="btn btn-primary" />
    }
    <br />
    <div>
        @ViewBag.Success
    </div>
</div>

